################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment.Automation.GUI/.vs/Assignment.Automation.GUI/v16
/Assignment.Automation.GUI/Assignment.Automation.GUI/obj/Debug/netcoreapp3.0
/Assignment.Automation.GUI/Assignment.Automation.GUI/obj
/Assignment.Automation.GUI/Assignment.Automation.GUI/bin/Debug/netcoreapp3.0
/Assignment.Automation.GUI/.vs/Assignment.Automation.GUI/DesignTimeBuild
/Assignment.Automation.GUI/Assignment.Automation.GUI/bin/Debug/netcoreapp2.0
