################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment.Automation.GUI/.vs/Assignment.Automation.GUI/v16
